<h1>Welcome!</h1>

<a asp-action="Index" asp-controller="Item">View Wishlist</a>
@*Add Item Link To Home

    In Home's Index view, add an a tag with attributes asp-action set to "Index" and asp-controller set to "Item" with the text View wishlist.*@